.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ========= CSS para sair de app ======== */

.container{
  display: grid;
  grid-template-columns: 20rem auto 20rem
}

.selectXTable{
  padding: 1rem;
}

.selectXTable button{
  width: 100%;
}

.selectYTable{
  padding: 1rem;
}

.selectYTable button{
  width: 100%;
}

.searchTable{
  display: flex;
  align-items: center;
}

.searchTable input{
  outline: none;
  height: 30px;
  width: 100%;

}

.table{
  grid-column-start: 1;
  grid-column-end: 4;
  gap: 0;
}

.table thead tr th{
  border: .5px solid black;
  margin: 0;
}
.table tbody tr td{
  border: .5px solid black;
  margin: 0;
}